<div class="comment-section-header">
    <h3>Comment Section</h3> <span onclick="openCommentForm(11)">Reply</span>
</div>
<div class="comment-form" id="comment-form-11">
    <hr>                
    <span class="comment-form-header">Your comment</span>
    <span onclick="hideCommentForm(11)" class="close">&times;</span>
    <form method="post">
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <input type="submit" value="Save">
    </form>
</div>
<div class="container">
    <div class="comment-container">
        <div class="comment-card">
            <div class="comment-header">
                <div class="about">by USER! on 2022-01-01</div>
            </div>
            <div class="comment-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, deserunt!
            </div>
            <div class="comment-footer">
                <div>Replies</div>
                <div class="reply-trigger" onclick="openCommentForm(1)">Reply</div>
            </div>
            <div class="comment-form" id="comment-form-1">
                <hr>                
                <span class="comment-form-header">Your comment</span>
                <span onclick="hideCommentForm(1)" class="close">&times;</span>
                <form method="post">
                    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
        <!-- INNER COMMENT -->
        <div class="comment-container">
            <div class="comment-card">
                <div class="comment-header">
                    <div class="about">by USER! on 2022-01-01</div>
                </div>
                <div class="comment-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, deserunt!
                </div>
                <div class="comment-footer">
                    <div>Replies: <span>0</span></div>
                    <div class="reply-trigger" onclick="openCommentForm(111)">Reply</div>
                </div>
                <div class="comment-form" id="comment-form-111">
                    <hr>                
                    <span class="comment-form-header">Your comment</span>
                    <span onclick="hideCommentForm(111)" class="close">&times;</span>
                    <form method="post">
                        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
                        <input type="submit" value="Save">
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- END OF INNER COMMENT -->
    </div>
</div>
