<div class="comment-section">
    <h4>Comment Section</h4>
    <div class="comment-card">
        <div class="comment-header">
            <div class="about">by Author Name on 2022-01-01 </div>
        </div>
        <div class="comment-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consequuntur iusto doloremque, accusantium distinctio placeat quas architecto similique suscipit? Deserunt, optio quos! Officia reiciendis, temporibus similique obcaecati doloribus veritatis voluptates.
        </div>
        <hr>
    </div>
    <div class="comment-card">
        <div class="comment-header">
            <div class="about">by Author Name on 2022-01-01 </div>
        </div>
        <div class="comment-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consequuntur iusto doloremque, accusantium distinctio placeat quas architecto similique suscipit? Deserunt, optio quos! Officia reiciendis, temporibus similique obcaecati doloribus veritatis voluptates.
        </div>
        <hr>
    </div>
</div>