{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- onsubmit="return false;" id="form" novalidate -->
  <form method="post" enctype="multipart/form-data"> 
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}">
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="body">Image</label>
    <input type="file" name="photo" id="photo" value="{{ request.form['photo'] }}">
    <span class="label-span">Tags</span>
    <div>
      <input id="custom-tag" placeholder="Add new tag...">
      <span class="append-btn">+</span>
    </div>
    <span>Click on tag to add it to post... </span>
    <div class="available-tags">
      {% for tag in tags %}
        <span class="tag-pill not-selected">{{ tag.body }}</span>
      {% endfor %}
    </div>
    <input type="hidden" name="tags" id="tags">
    <input id="submit" type="submit" value="Save">
  </form>

  <script type="module"  src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}
