{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts
  {% if keyword %}
    - {{ keyword }}
  {% endif %}
  {% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('post.create') }}">New</a>
{% endif %}
{% endblock %}

{% block searchbar %}
<form method="GET">
  <input type="text" name="keyword" id="keyword" maxlength="20">
  <input type="submit" value="search" id="search-btn">
</form>
{% endblock %}

{% block content %}
{% for post in posts %}
  {% include 'blog/single_post.html' %}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<script type="module"  src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}