{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts
  {% if keyword %}
    - {{ keyword }}
  {% endif %}
  {% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('post.create') }}">New</a>
{% endif %}
{% endblock %}

{% block searchbar %}
<form method="GET">
  <input type="text" name="keyword" id="keyword" maxlength="20">
  <input type="submit" value="search" id="search-btn">
</form>
{% endblock %}

{% block content %}
{% for post in posts %}
  {% include 'blog/single_post.html' %}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<div class="center">
  <div class="pagination">
    {% if posts.page == 1 %}
      <a href="{{ url_for('index', page=posts.page) }}">&laquo;</a>
    {% else %}
      <a href="{{ url_for('index', page=posts.page-1, tag=request.args.get('tag') or None, keyword=request.args.get('keyword') or None) }}">&laquo;</a>
    {% endif %}
    {% for page_num in posts.iter_pages() %}
      {% if posts.page == page_num %}
        <a class="active" href="{{ url_for('index', page=page_num, tag=request.args.get('tag') or None, keyword=request.args.get('keyword') or None) }}">{{ page_num }}</a>
      {% else %}
        <a href="{{ url_for('index', page=page_num, tag=request.args.get('tag') or None, keyword=request.args.get('keyword') or None) }}">{{ page_num or '...' }}</a>
      {% endif %}
    {% endfor %}
    <a href="{{ url_for('index', page=posts.page+1, tag=request.args.get('tag') or None, keyword=request.args.get('keyword') or None) }}">&raquo;</a>    
  </div>
</div>
<script type="module"  src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}