<article class="post">
    <header>
        <div>
            <h1><a href="{{ url_for('blog.read', id=post['id']) }}">{{ post['title'] }}</a></h1>
            <div class="about">by {{ post.user.username }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ post['body'] }}</p>
    <hr>
    <div class="post-footer">
        <span class="thumb" id="like-button-{{ post['id'] }}" onclick="like( {{ post['id'] }} )">
            {% if g.user['id'] in post.likes|map(attribute='author_id') %}
                &#128078;
            {% else %}
                &#128077;
            {% endif %}
        </span>
        <span class="modal-trigger" onclick="getLikers( {{ post['id'] }} )">Likes</span><span>: </span>
        <span id="like-count-{{ post['id'] }}" value="{{ post.likes|length }}">{{ post.likes|length }}</span>
        <br>
        <span class="comment-section">
            <span class="comment-icon">&#128264;</span>
            <span class="comment-section-trigger">
                <a href="{{ url_for('blog.read', id=post['id']) }}">Comments</a>
            </span>
            <span>: </span>
            <span id="comment-count-{{ post['id'] }}" value="{{ post.comments|length }}">{{ post.comments|length }}</span>
        </span>
        {% include 'blog/likers_modal.html' %}
    <hr>
    </div>
</article>
